#about {
  position: relative;

  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

#about .row {
  @media (min-width: 970px) {
    height: 330px;
  }

  @media (min-width: 1170px) {
    height: 440px;
  }

  @media (min-width: 1560px) {
    height: 525px;
  }

  .text {
    float: left;
    font-family: 'Open Sans', serif;
    width: 100%;
    padding-bottom: 35px;

    @media (min-width: 970px) {
      display: table;
      width: 50%;
      text-align: center;
    }

    .centering {
      @media (min-width: 970px) {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

#about .row {
  .image {
    width: 50%;
    background-size: cover;
    height: 100%;
    float: left;
    display: none;

    @media (min-width: 970px) {
      display: block;
    }
  }

  &.row_1 .image {
    background: url('images/about_3.jpg') no-repeat center center;
  }

  &.row_1 .text {
    background: url('images/about_1_1.jpg') no-repeat right center, #fff;
    background-size: contain;
    height: 100%;
  }

  &.row_2 .image {
    background: url('images/about_2.jpg') no-repeat center center;
  }

  &.row_2 .text {
    background: #c3cc34;
    height: 100%;
  }

  &.row_3 .image {
    background: url('images/about_1.jpg') no-repeat center center;
  }

  &.row_3 .text {
    background: $invert_kaka;
    height: 100%;
  }
}

#about .row h3 {
  color: $kaka;
  font-size: 25px;
  font-weight: 700;
  width: 50%;
  margin: auto;
  line-height: 25px;
  text-align: left;
  box-sizing: border-box;

  @media (min-width: 1px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    font-size: 14px;
  }

  @media (min-width: 750px) {
    font-size: 20px;
    padding-bottom: 10px;
  }

  @media (min-width: 1170px) {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
    font-size: 25px;
  }

  @media (min-width: 1560px) {
    width: 50%;
    font-size: 25px;
  }
}

#about .row p {
  color: $dark_gray;
  line-height: 20px;
  width: 50%;
  margin: auto;
  text-align: left;
  box-sizing: border-box;

  @media (min-width: 1px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
  }

  @media (min-width: 750px) {
    font-size: 15px;
    width: 70%;
    padding-bottom: 30px;
  }

  @media (min-width: 970px) {
    width: 100%;
  }

  @media (min-width: 1170px) {
    width: 80%;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 1560px) {
    width: 50%;
  }
}

#about .row a {
  color: $kaka;

  &.button {
    float: left;
    width: 180px;
    border: 2px solid $kaka;
    text-decoration: none;
    font-weight: 700;
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 11px;
    text-transform: uppercase;
    font-family: Lora, serif;
    padding-left: 0;

    @media (min-width: 750px) {
      margin-top: -10px;
    }

    @media (min-width: 970px) {
      margin-left: 25%;
      margin-top: 20px;
    }
  }

  @media (min-width: 1px) and (max-width: 750px) {
    padding-left: 15px;
    padding-top: 30px;
    float: left;
  }
}

#about .row {
  .image_row {
    width: 30%;
    height: 150px;
    float: left;
    margin-right: 25px;
    margin-left: 15px;
    display: none;

    @media (min-width: 750px) and (max-width: 969px) {
      display: block;
    }
  }

  &.row_1 .image_row {
    background: url('images/about_1.jpg') no-repeat left center;
    background-size: contain;
  }

  &.row_2 .image_row {
    background: url('images/about_2.jpg') no-repeat left center;
    background-size: contain;
  }

  &.row_3 .image_row {
    background: url('images/about_3.jpg') no-repeat left center;
    background-size: contain;
  }
}
