@keyframes light {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#main {
  width: 100%;

  .wrap {
    height: 100vh;
    width: 100%;
    background: url('images/bg_main.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    display: table;
    box-sizing: border-box;
  }
}

#main .video_button {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
}

#main footer {
  height: 50px;
  margin-top: 5px;
  float: left;
  margin-left: 20%;

  .icon {
    background: $kaka;
    width: 70px;
    height: 100%;
    position: relative;
    float: left;
    transition: background 0.3s ease;

    &::after {
      content: ' ';
      background: url($sprite) no-repeat -68px 0;
      width: 23px;
      height: 23px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .text {
    background: $invert_kaka;
    color: $kaka;
    text-align: center;
    text-transform: uppercase;
    float: left;
    padding: 17px 15px;
    cursor: pointer;
    font-weight: 700;
    transition: background 0.3s ease;
  }

  &:hover {
    .icon {
      background: #7e3f1b;
    }
  }

  @media (min-width: 750px) {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

#main .scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: url($sprite) no-repeat -95px 0;
  width: 21px;
  height: 60px;
  animation: light 1.5s ease-in-out infinite;
}
