#modal {
  position: fixed;
  top: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;

  &.open {
    opacity: 1;
  }
}

#modal .wrap {
  background: #fff;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 22px;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -100%);
  transition: opacity, transform 0.3s, 0.3s, ease, ease;

  &.open {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  img {
    display: block;
    width: 40%;
    height: auto;
    margin: auto;

    @media (min-width: 750px) {
      width: auto;
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }

  @media (min-width: 750px) {
    width: 650px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

#modal .wrap .closer {
  background: url($sprite) no-repeat -462px -91px;
  top: 14px;
  right: 14px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  position: absolute;

  @media (min-width: 750px) {
    background: url($sprite) no-repeat -462px -65px;
    top: 0;
    right: -35px;
  }
}

#modal .wrap h3 {
  text-align: center;
  font-size: 20px;
  color: $kaka;
  font-weight: 700;
}

#modal .wrap h6 {
  font-size: 16px;
  color: $kaka;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 20px;
}

#modal .wrap .content {
  height: 430px;
  overflow: hidden;
  padding-top: 15px;

  @media (min-width: 750px) {
    height: 330px;
  }
}

#modal .wrap .image {
  width: 155px;
  height: 155px;
  margin: auto;
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;

  img {
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (min-width: 750px) {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

#modal .wrap .content_modal {
  padding-left: 170px;
}

#modal .wrap ul {
  margin-left: 19px;
}

#modal .wrap p,
#modal .wrap li {
  color: $kaka;
  font-family: 'Open Sans', serif;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;

  img {
    vertical-align: top;
  }
}

#modal .wrap li {
  list-style-position: outside;
  list-style-type: circle;
  padding-left: 5px;
}

#modal .wrap .link {
  display: block;
  color: $kaka;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  padding-top: 5px;
  text-align: center;
}
