#services {
  background: #f6edd0;
  padding-top: 30px;

  @media (min-width: 750px) {
    background: url('images/services.jpg') no-repeat center top;
  }
}

#services header {
  position: relative;
  overflow: hidden;
  height: 85px;

  img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}

#services ul {
  padding-top: 45px;
  margin: auto;

  &::after {
    content: ' ';
    display: table;
    clear: both;
  }

  @media (min-width: 750px) {
    width: 730px;
  }

  li {
    width: 335px;
    height: 51px;
    margin: 15px auto;
    background: $kaka;
    color: white;
    font-family: 'Open Sans', serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
      background: #7e3f1b;

      .icon {
        background: #dfb963;
      }
    }

    @media (min-width: 750px) {
      float: left;
      margin: 15px;
    }

    .icon {
      width: 51px;
      height: 51px;
      background: #d7b56d;
      position: relative;
      float: left;
      transition: background 0.3s ease;

      &.nail::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 45px;
        background: url($sprite) no-repeat -122px 1px;
      }

      &.mass::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 49px;
        background: url($sprite) no-repeat -166px 0;
      }

      &.serv::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 49px;
        background: url($sprite) no-repeat -212px 0;
      }

      &.app::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45px;
        height: 49px;
        background: url($sprite) no-repeat -257px 0;
      }

      &.face::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45px;
        height: 49px;
        background: url($sprite) no-repeat -302px 0;
      }

      &.aqua::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 49px;
        background: url($sprite) no-repeat -347px 0;
      }

      &.dep::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 49px;
        background: url($sprite) no-repeat -393px 0;
      }

      &.creo::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 49px;
        background: url($sprite) no-repeat -439px 0;
      }
    }

    .text {
      float: left;
      font-size: 16px;
      padding-top: 17px;
      padding-bottom: 4px;
      margin-left: 17px;
      border-bottom: 1px dotted #a77c48;
    }
  }
}

#services footer {
  background: rgba(#d7b56d, 0.8);
  margin-top: 65px;
  padding-top: 30px;
  padding-bottom: 40px;

  .wrap {
    @media (min-width: 750px) {
      width: 690px;
      margin: auto;
    }

    &::after {
      content: ' ';
      display: table;
      clear: both;
    }
  }

  .sert_image {
    float: left;
    width: 50%;

    img {
      width: 100%;
    }
  }

  .sert_text {
    padding-left: 30px;
    float: left;
    width: 50%;
    box-sizing: border-box;

    h3 {
      color: #2d2d2d;
      font-size: 15px;
      padding-bottom: 17px;
      font-family: 'Open Sans', serif;
      font-weight: 700;

      @media (min-width: 750px) {
        font-size: 25px;
        padding-bottom: 25px;
      }
    }

    h4 {
      color: white;
      padding-bottom: 13px;
      border-bottom: 2px solid;
      width: 150px;
      text-transform: uppercase;
      font-size: 23px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 15px;

      @media (min-width: 750px) {
        width: 220px;
        font-size: 28px;
      }
    }

    h5 {
      font-size: 20px;
      color: #2d2d2d;
      margin-bottom: 25px;
    }

    a.button {
      float: left;
      width: 180px;
      color: $kaka;
      border: 2px solid $kaka;
      text-decoration: none;
      text-align: center;
      padding-top: 9px;
      padding-bottom: 11px;
      text-transform: uppercase;
      font-family: Lora, serif;
      padding-left: 0;
    }
  }
}
