#stocks {
  background: url('images/stock.jpg') no-repeat top center;
  padding-top: 110px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

#stocks .image_slide,
#stocks .slides {
  margin: 0 auto 10px;
  position: relative;
  overflow: hidden;

  @media (min-width: 1px) {
    width: 100%;
  }

  @media (min-width: 970px) {
    width: 775px;
  }

  @media (min-width: 1170px) {
    width: 945px;
  }

  img {
    width: 100%;
  }

  .anim_img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;

    &.open {
      opacity: 0.5;
    }
  }
}

#stocks .slides .wrap {
  height: 84px;
  overflow: hidden;
}

#stocks .slides .slide {
  width: 165px;
  float: left;
  margin: 10px 12px 0;
  cursor: pointer;

  &.active {
    border-bottom: 3px solid #4d392e;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  img {
    width: 100%;
  }
}
