section#about
  .row.row_1
    .image
    .text
      .centering
        h3 Добро пожаловать в новый столичный пантеон красоты
        .image_row
        p Расположенный на 2-х этажах: более 1000 кв. м., 22 кабинета, SPA-покои, отдельная аква-зона, VIP-сауны, новейшее оборудование, эффективные технологии и первоклассные мастера своего дела.
        a(href="#") « Ознакомьтесь со СПА-этикетом нашего центра
  .row.row_2
    .text
      .centering
        h3 В Celebrity SPA собраны лучшие мировые бренды
        .image_row
        p С многомиллионными списками поклонников, включая звезд и знаменитостей. Впервые в Казахстане, мы с гордостью представляем такие эксклюзивные бренды как Bellefontaine (Швейцария) и Christina Fitzgerald (Австралия).
    .image
  .row.row_3
    .image
    .text
      .centering
        h3 Попробуйте наши роскошные wellness-ритуалы
        .image_row
        p Как истинно традиционные, так и последнего поколения. Наши мастера откроют Вам секреты молодости и красоты знаменитостей, и сделают всё, чтобы Ваше лицо стало совершенным, тело - божественным, а волосы - восхитительными.
        a(href="#").button Записаться
