section#brand
  a(name="partners")
  header
    img(src="images/header_brand.png")
  ul
    li
      img(src="images/test_logo.png")
    li
      img(src="images/test_logo.png")
    li
      img(src="images/test_logo.png")
    li
      img(src="images/test_logo.png")
