script(src!="<?php echo get_template_directory_uri();?>/libs/jquery/dist/jquery.min.js")
script(src!="<?php echo get_template_directory_uri();?>/libs/fancybox/source/jquery.fancybox.pack.js")
script(src!="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js")
script(src!="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkS0y-j9aq7GAuQPJJy5uhEiVKIWBcTM4")
script(src!="<?php echo get_template_directory_uri();?>/bundle.js")
