section#interior
  a(name="interior")
  header
    img(src="images/header_interier.png")
  .wrap
    a(href="#").image_interior_wrap.big
      .image_interior(style="background: url('images/interior/1.jpg') no-repeat center center; background-size: cover;")
        .zoom
    a(href="#").image_interior_wrap
      .image_interior.big(style="background: url('images/interior/1.jpg') no-repeat center center; background-size: cover;")
      .zoom
    a(href="#").image_interior_wrap
      .image_interior.big(style="background: url('images/interior/1.jpg') no-repeat center center; background-size: cover;")
      .zoom
    a(href="#").image_interior_wrap
      .image_interior.big(style="background: url('images/interior/1.jpg') no-repeat center center; background-size: cover;")
      .zoom
    a(href="#").image_interior_wrap
      .image_interior.big(style="background: url('images/interior/1.jpg') no-repeat center center; background-size: cover;")
      .zoom
    a(href="#").image_interior_wrap
      .image_interior.big(style="background: url('images/interior/1.jpg') no-repeat center center; background-size: cover;")
      .zoom
    a(href="#").image_interior_wrap
      .image_interior.big(style="background: url('images/interior/1.jpg') no-repeat center center; background-size: cover;")
      .zoom
    a(href="#").image_interior_wrap
      .image_interior.big(style="background: url('images/interior/1.jpg') no-repeat center center; background-size: cover;")
      .zoom
    a(href="#").image_interior_wrap
      .image_interior.big(style="background: url('images/interior/1.jpg') no-repeat center center; background-size: cover;")
      .zoom
