section#main
  a(name="main")
  .wrap
    .video_button
      header
        .logo
      footer
        .icon
        a(href="https://www.youtube.com/embed/Se32DJbWK-A?autoplay=1" class="fancybox fancybox.iframe")
          .text Посмотрите видео
    .scroll
