section#modal(style={display: 'none'})
  .wrap.open
    .closer
    .content_query
      h3 CARITA
      .content
        .image
          img(src="images/test_modal.jpg")
        p Бренд носит имя своих основательниц, сестер Рози и Мари Карита, которые, благодаря новаторству в области создания имиджа и изысканному вкусу, в XX веке смогли объединить вокруг себя всю элиту Европы, Азии и Америки. Именно поэтому препараты данной марки часто называют косметикой кинозвезд, а Катрин Денев, Софи Марсо и другие поклонницы Carita вот уже много лет отдают предпочтение только ей. Сегодня французский бренд Carita представляет собой «ненавязчивый гламур» – утонченный, изысканный и простой. Эта профессиональная французская марка имеет большую гамму эффективных косметических средств по уходу за кожей и волосами, дающих результат с первых дней применения!
      a(href="#").link www.carita.com
