section#modal_form(style="display: none;")
  .wrap_modal
    form
      .closer.close_modal_form
      h3 Записаться в Celebrity spa
      input(type="text" placeholder="Ваше имя" required)
      input(type="text" placeholder="Телефон" required)
      input(type="text" placeholder="E-mail" required)
      button.send Отправить
      button.close_modal_form Закрыть
