section#menu
  header
    a(href="#main").anchor
      .logo
    .menu_opener
      span Меню
      .burger
      .back
    .mobile_menu_opener
      .burger
    a(href="http://test.com").lang Eng
    a(href="http://instagram.com" target="_blank").inst
    .form_open Записаться
    .contact
      .number!="+7 (7172) <b>56-77-55</b><span class='full'>, +7 (7172) <b>56-77-55</b></span>"
      .adress!="Астана, пр. Туран 30<span class='full'>, Fitness Palace</b></span>"
  footer
    .menu_closer
      span Меню
      .closer
      .back
    nav
      a(href="#about").anchor О нас
      a(href="#services").anchor Услуги
      a(href="#stocks").anchor Акции
      a(href="#interior").anchor Интерьер
      a(href="#team").anchor Команда
      a(href="#partners").anchor Партнеры
      a(href="#contact").anchor Контакты
