section#services
  a(name="services")
  header
    img(src="images/header.png")
  section
    ul
      li
        .icon.nail
        .text Услуги Nail-Стилиста
      li
        .icon.mass
        .text массаж и эстетика тела
      li
        .icon.serv
        .text Услуги визажиста
      li
        .icon.app
        .text аппаратная косметология
      li
        .icon.face
        .text уход за лицом
      li
        .icon.aqua
        .text аква-процедуры
      li
        .icon.dep
        .text депиляция
      li
        .icon.creo
        .text криотерапия жидким азотом
  footer
    .wrap
      .sert_image
        image(src="images/sert_img.png")
      .sert_text
        h3 Вы можете приобрести
        h4 Подарочный Сертификат
        h5 На любые услуги
        a(href="#").button Заказать
