section#stocks
  .image_slide
    img(src="images/test_stock.jpg")
    img(src="images/test_stock.jpg").anim_img
  ul.slides
    .wrap
      li.slide.active
        img(src="images/test_stock.jpg")
      li.slide
        img(src="images/thumb_stock.jpg")
      li.slide
        img(src="images/thumb_stock.jpg")
      li.slide
        img(src="images/thumb_stock.jpg")
      li.slide
        img(src="images/thumb_stock.jpg")
      li.slide
        img(src="images/thumb_stock.jpg")
      li.slide
        img(src="images/thumb_stock.jpg")
      li.slide
        img(src="images/thumb_stock.jpg")
