section#team
  .wrap
    header
      img(src="images/header_team.png")
    ul
      li
        .wrap
          .avatar
            img(src="images/ava_test.jpg")
          .text
            h4 Эстет по телу
            h5 Махамбетов Диас
      li
        .wrap
          .avatar
            img(src="images/ava_test.jpg")
          .text
            h4 Эстет по телу
            h5 Махамбетов Диас
      li
        .wrap
          .avatar
            img(src="images/ava_test.jpg")
          .text
            h4 Эстет по телу
            h5 Махамбетов Диас
      li
        .wrap
          .avatar
            img(src="images/ava_test.jpg")
          .text
            h4 Эстет по телу
            h5 Махамбетов Диас
