html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#mail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }
  #mail .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 25px;
    padding: 25px; }
    #mail .message img {
      width: 150px;
      height: 150px; }
    #mail .message .message_text {
      float: right;
      padding-left: 25px;
      padding-top: 30px; }
      #mail .message .message_text h3 {
        font-size: 25pt;
        font-weight: 300;
        color: #0f0f0f; }
      #mail .message .message_text p {
        font-size: 11pt; }

.not_visible_mail {
  display: none; }

body {
  background: #ccc;
  min-width: 480px;
  font-family: Lora, serif;
  box-sizing: border-box; }

b {
  font-weight: 700; }

.container-float {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container-float:after {
    content: " ";
    display: block;
    clear: both; }

.container-mid {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }
  .container-mid:after {
    content: " ";
    display: block;
    clear: both; }

.container {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

#menu {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
  min-width: 480px;
  height: 0; }

#menu header {
  height: 55px;
  padding-left: 15px;
  padding-right: 15px;
  background: #fff;
  z-index: 2;
  position: relative; }
  @media (min-width: 750px) {
    #menu header {
      height: 85px; } }
  #menu header .logo {
    background: url("images/logo.png") no-repeat;
    float: left; }
    @media (min-width: 1px) {
      #menu header .logo {
        width: 103px;
        height: 30px;
        margin-top: 10px;
        background-position: -375px 0; } }
    @media (min-width: 750px) {
      #menu header .logo {
        width: 160px;
        height: 45px;
        margin-top: 15px;
        background-position: -209px 0; } }
    @media (min-width: 970px) {
      #menu header .logo {
        width: 205px;
        height: 57px;
        background-position: 0 0; } }

#menu .menu_opener {
  float: right;
  height: 56px;
  padding-right: 15px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 15px;
  border-left: 1px solid #e1e1e1;
  padding-left: 18px;
  position: relative;
  display: none; }
  #menu .menu_opener .burger {
    background: url("images/sprite.png") no-repeat 0 -36px;
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 25px;
    margin-top: 15px; }
  #menu .menu_opener span {
    float: left;
    margin-top: 20px; }
  #menu .menu_opener .back {
    background: rgba(225, 225, 225, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: width 0.3s ease; }
  #menu .menu_opener:hover .back {
    width: 100%; }
  @media (min-width: 970px) {
    #menu .menu_opener {
      display: block; } }

#menu .mobile_menu_opener {
  float: right;
  cursor: pointer;
  display: block; }
  @media (min-width: 970px) {
    #menu .mobile_menu_opener {
      display: none; } }
  #menu .mobile_menu_opener .burger {
    background: url("images/sprite.png") no-repeat 0 -36px;
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 15px; }
    #menu .mobile_menu_opener .burger.closer {
      background-position: -35px -36px; }
    @media (min-width: 1px) {
      #menu .mobile_menu_opener .burger {
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 1px; } }
    @media (min-width: 750px) {
      #menu .mobile_menu_opener .burger {
        margin-top: 30px;
        margin-right: 5px;
        margin-left: 25px; } }

#menu .lang {
  float: right;
  font-size: 18px;
  color: #72461b;
  margin-right: 20px;
  margin-top: 18px;
  text-decoration: none; }
  @media (min-width: 750px) {
    #menu .lang {
      margin-top: 31px;
      margin-right: 30px; } }

#menu .inst {
  float: right;
  background: url("images/sprite.png") no-repeat 0 0;
  width: 34px;
  height: 34px;
  margin-top: 11px;
  margin-right: 40px; }
  #menu .inst:hover {
    background-position: -34px 0; }
  @media (min-width: 750px) {
    #menu .inst {
      margin-right: 47px;
      margin-top: 22px; } }

#menu .form_open {
  float: right;
  border: 1px solid #72461b;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
  padding: 9px 15px;
  color: #72461b;
  cursor: pointer;
  margin-top: 11px;
  margin-right: 20px;
  font-weight: 700;
  transition: color 0.3s ease; }
  #menu .form_open:hover {
    color: #3c3c3c; }
  @media (min-width: 750px) {
    #menu .form_open {
      margin-top: 22px; } }

#menu .contact {
  float: right;
  margin-top: 15px;
  color: #3c3c3c;
  margin-right: 25px;
  display: none; }
  #menu .contact .number {
    padding-bottom: 15px;
    white-space: nowrap; }
  #menu .contact .full {
    display: none; }
  @media (min-width: 750px) {
    #menu .contact {
      display: block; } }
  @media (min-width: 1170px) {
    #menu .contact .full {
      display: inline; } }

#menu footer {
  background: rgba(119, 66, 35, 0.9);
  overflow: hidden;
  min-height: 100vh;
  display: table;
  width: 100%;
  transform: translateY(-100%);
  opacity: 0;
  height: 0;
  transition: transform, opacity 0.3s, 0.2s ease, ease; }
  #menu footer.open {
    height: auto;
    transform: translateY(0%);
    opacity: 1; }
  #menu footer::after {
    content: ' ';
    clear: both;
    display: table; }
  @media (min-width: 750px) {
    #menu footer {
      background: #f7f7f7;
      padding-left: 15px;
      padding-right: 15px;
      min-height: auto;
      width: auto;
      display: block; } }

#menu nav {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
  @media (min-width: 750px) {
    #menu nav {
      display: block;
      text-align: left; } }
  #menu nav::after {
    content: ' ';
    clear: both;
    display: table; }

#menu .menu_closer {
  float: right;
  height: 56px;
  padding-right: 15px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 15px;
  border-left: 1px solid #e1e1e1;
  padding-left: 18px;
  position: relative;
  display: none; }
  #menu .menu_closer .closer {
    background: url("images/sprite.png") no-repeat -35px -36px;
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 25px;
    margin-top: 15px; }
  #menu .menu_closer span {
    float: left;
    margin-top: 20px;
    z-index: 2;
    opacity: 0.99; }
  #menu .menu_closer .back {
    background: rgba(225, 225, 225, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 0.3s ease; }
  #menu .menu_closer:hover .back {
    width: 100%; }
  @media (min-width: 970px) {
    #menu .menu_closer {
      display: block; } }

#menu footer a {
  float: left;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid rgba(119, 66, 35, 0);
  transition: color, border 0.3s, 0.3s ease, ease; }
  @media (min-width: 1px) {
    #menu footer a {
      width: 100%;
      color: #fff;
      font-size: 35px;
      padding-bottom: 10%; }
      #menu footer a:hover {
        color: #3c3c3c;
        border-bottom: 2px solid #774223; } }
  @media (min-width: 750px) {
    #menu footer a {
      padding-top: 15px;
      padding-bottom: 32px;
      width: 14%;
      color: #3c3c3c;
      font-size: 15px; }
      #menu footer a:hover {
        color: #774223; } }
  @media (min-width: 970px) {
    #menu footer a {
      padding-top: 34px;
      width: 12%; } }

@keyframes light {
  from {
    opacity: 1;
    transform: translateY(0); }
  50% {
    opacity: 0.5;
    transform: translateY(-20%); }
  to {
    opacity: 1;
    transform: translateY(0); } }

#main {
  width: 100%; }
  #main .wrap {
    height: 100vh;
    width: 100%;
    background: url("images/bg_main.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    display: table;
    padding-left: 10%;
    box-sizing: border-box; }

#main .video_button {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box; }

#main header {
  background: rgba(119, 66, 35, 0.9);
  width: 350px;
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box; }
  #main header .logo {
    background: url("images/sprite.png") no-repeat 0 -71px;
    height: 36px;
    width: 370px;
    margin: auto;
    zoom: 0.8; }
  @media (min-width: 750px) {
    #main header {
      width: 420px; }
      #main header .logo {
        zoom: 1; } }

#main footer {
  height: 37px;
  margin-top: 5px; }
  #main footer .icon {
    background: #774223;
    width: 37px;
    height: 100%;
    position: relative;
    float: left;
    transition: background 0.3s ease; }
    #main footer .icon::after {
      content: ' ';
      background: url("images/sprite.png") no-repeat -68px 0;
      width: 23px;
      height: 23px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  #main footer .text {
    background: #d6b66d;
    color: #774223;
    text-align: center;
    text-transform: uppercase;
    float: left;
    padding: 11px 15px;
    cursor: pointer;
    font-weight: 700;
    transition: background 0.3s ease; }
  #main footer:hover .icon {
    background: #7e3f1b; }
  #main footer:hover .text {
    background: #dfb963; }

#main .scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: url("images/sprite.png") no-repeat -95px 0;
  width: 21px;
  height: 60px;
  animation: light 1.5s ease-in-out infinite; }

#about {
  position: relative; }
  #about::after {
    content: ' ';
    display: table;
    clear: both; }

@media (min-width: 970px) {
  #about .row {
    height: 330px; } }

@media (min-width: 1170px) {
  #about .row {
    height: 440px; } }

@media (min-width: 1560px) {
  #about .row {
    height: 525px; } }

#about .row .text {
  float: left;
  font-family: 'Open Sans', serif;
  width: 100%;
  padding-bottom: 35px; }
  @media (min-width: 970px) {
    #about .row .text {
      display: table;
      width: 50%;
      text-align: center; } }
  @media (min-width: 970px) {
    #about .row .text .centering {
      display: table-cell;
      vertical-align: middle; } }

#about .row .image {
  width: 50%;
  background-size: cover;
  height: 100%;
  float: left;
  display: none; }
  @media (min-width: 970px) {
    #about .row .image {
      display: block; } }

#about .row.row_1 .image {
  background: url("images/about_1.jpg") no-repeat center center; }

#about .row.row_1 .text {
  background: url("images/about_1_1.jpg") no-repeat right center, #fff;
  background-size: contain;
  height: 100%; }

#about .row.row_2 .image {
  background: url("images/about_2.jpg") no-repeat center center; }

#about .row.row_2 .text {
  background: #c3cc34;
  height: 100%; }

#about .row.row_3 .image {
  background: url("images/about_3.jpg") no-repeat center center; }

#about .row.row_3 .text {
  background: #d7b56d;
  height: 100%; }

#about .row h3 {
  color: #774223;
  font-size: 25px;
  font-weight: 700;
  width: 50%;
  margin: auto;
  line-height: 25px;
  text-align: left;
  box-sizing: border-box; }
  @media (min-width: 1px) {
    #about .row h3 {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 30px;
      font-size: 14px;
      padding-bottom: 30px; } }
  @media (min-width: 750px) {
    #about .row h3 {
      font-size: 20px;
      padding-bottom: 20px; } }
  @media (min-width: 1170px) {
    #about .row h3 {
      width: 80%;
      padding-left: 0;
      padding-right: 0;
      font-size: 25px;
      padding-bottom: 45px; } }
  @media (min-width: 1560px) {
    #about .row h3 {
      width: 50%;
      font-size: 25px; } }

#about .row p {
  color: #3c3c3c;
  line-height: 20px;
  width: 50%;
  margin: auto;
  text-align: left;
  box-sizing: border-box; }
  @media (min-width: 1px) {
    #about .row p {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 14px; } }
  @media (min-width: 750px) {
    #about .row p {
      font-size: 15px;
      width: 70%;
      padding-bottom: 30px; } }
  @media (min-width: 970px) {
    #about .row p {
      width: 100%; } }
  @media (min-width: 1170px) {
    #about .row p {
      width: 80%;
      padding-left: 0;
      padding-right: 0; } }
  @media (min-width: 1560px) {
    #about .row p {
      width: 50%; } }

#about .row a {
  color: #774223; }
  #about .row a.button {
    float: left;
    width: 180px;
    border: 2px solid #774223;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 15px;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 11px;
    text-transform: uppercase;
    font-family: Lora, serif;
    padding-left: 0; }
    @media (min-width: 750px) {
      #about .row a.button {
        margin-top: -10px; } }
    @media (min-width: 970px) {
      #about .row a.button {
        margin-left: 25%;
        margin-top: 20px; } }
  @media (min-width: 1px) and (max-width: 750px) {
    #about .row a {
      padding-left: 15px;
      padding-top: 30px;
      float: left; } }

#about .row .image_row {
  width: 30%;
  height: 150px;
  float: left;
  margin-right: 25px;
  margin-left: 15px;
  display: none; }
  @media (min-width: 750px) and (max-width: 969px) {
    #about .row .image_row {
      display: block; } }

#about .row.row_1 .image_row {
  background: url("images/about_1.jpg") no-repeat left center;
  background-size: contain; }

#about .row.row_2 .image_row {
  background: url("images/about_2.jpg") no-repeat left center;
  background-size: contain; }

#about .row.row_3 .image_row {
  background: url("images/about_3.jpg") no-repeat left center;
  background-size: contain; }

#services {
  background: #f6edd0;
  padding-top: 30px; }
  @media (min-width: 750px) {
    #services {
      background: url("images/services.jpg") no-repeat center top; } }

#services header {
  position: relative;
  overflow: hidden;
  height: 85px; }
  #services header img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%); }

#services ul {
  padding-top: 45px;
  margin: auto; }
  #services ul::after {
    content: ' ';
    display: table;
    clear: both; }
  @media (min-width: 750px) {
    #services ul {
      width: 730px; } }
  #services ul li {
    width: 335px;
    height: 51px;
    margin: 15px auto;
    background: #774223;
    color: white;
    font-family: 'Open Sans', serif;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease; }
    #services ul li:hover {
      background: #7e3f1b; }
      #services ul li:hover .icon {
        background: #dfb963; }
    @media (min-width: 750px) {
      #services ul li {
        float: left;
        margin: 15px; } }
    #services ul li .icon {
      width: 51px;
      height: 51px;
      background: #d7b56d;
      position: relative;
      float: left;
      transition: background 0.3s ease; }
      #services ul li .icon.nail::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 45px;
        background: url("images/sprite.png") no-repeat -122px 1px; }
      #services ul li .icon.mass::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 49px;
        background: url("images/sprite.png") no-repeat -166px 0; }
      #services ul li .icon.serv::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 49px;
        background: url("images/sprite.png") no-repeat -212px 0; }
      #services ul li .icon.app::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45px;
        height: 49px;
        background: url("images/sprite.png") no-repeat -257px 0; }
      #services ul li .icon.face::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 45px;
        height: 49px;
        background: url("images/sprite.png") no-repeat -302px 0; }
      #services ul li .icon.aqua::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 49px;
        background: url("images/sprite.png") no-repeat -347px 0; }
      #services ul li .icon.dep::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 49px;
        background: url("images/sprite.png") no-repeat -393px 0; }
      #services ul li .icon.creo::before {
        content: ' ';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 42px;
        height: 49px;
        background: url("images/sprite.png") no-repeat -439px 0; }
    #services ul li .text {
      float: left;
      font-size: 16px;
      padding-top: 17px;
      padding-bottom: 4px;
      margin-left: 17px;
      border-bottom: 1px dotted #a77c48; }

#services footer {
  background: rgba(215, 181, 109, 0.8);
  margin-top: 65px;
  padding-top: 30px;
  padding-bottom: 40px; }
  @media (min-width: 750px) {
    #services footer .wrap {
      width: 690px;
      margin: auto; } }
  #services footer .wrap::after {
    content: ' ';
    display: table;
    clear: both; }
  #services footer .sert_image {
    float: left;
    width: 50%; }
    #services footer .sert_image img {
      width: 100%; }
  #services footer .sert_text {
    padding-left: 30px;
    float: left;
    width: 50%;
    box-sizing: border-box; }
    #services footer .sert_text h3 {
      color: #2d2d2d;
      font-size: 15px;
      padding-bottom: 17px;
      font-family: 'Open Sans', serif;
      font-weight: 700; }
      @media (min-width: 750px) {
        #services footer .sert_text h3 {
          font-size: 25px;
          padding-bottom: 25px; } }
    #services footer .sert_text h4 {
      color: white;
      padding-bottom: 13px;
      border-bottom: 2px solid;
      width: 150px;
      text-transform: uppercase;
      font-size: 23px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 15px; }
      @media (min-width: 750px) {
        #services footer .sert_text h4 {
          width: 220px;
          font-size: 28px; } }
    #services footer .sert_text h5 {
      font-size: 20px;
      color: #2d2d2d;
      margin-bottom: 25px; }
    #services footer .sert_text a.button {
      float: left;
      width: 180px;
      color: #774223;
      border: 2px solid #774223;
      text-decoration: none;
      text-align: center;
      padding-top: 9px;
      padding-bottom: 11px;
      text-transform: uppercase;
      font-family: Lora, serif;
      padding-left: 0; }

#stocks {
  background: url("images/stock.jpg") no-repeat top center;
  padding-top: 110px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }

#stocks .image_slide,
#stocks .slides {
  margin: 0 auto 10px;
  position: relative;
  overflow: hidden; }
  @media (min-width: 1px) {
    #stocks .image_slide,
    #stocks .slides {
      width: 100%; } }
  @media (min-width: 970px) {
    #stocks .image_slide,
    #stocks .slides {
      width: 775px; } }
  @media (min-width: 1170px) {
    #stocks .image_slide,
    #stocks .slides {
      width: 945px; } }
  #stocks .image_slide img,
  #stocks .slides img {
    width: 100%; }
  #stocks .image_slide .anim_img,
  #stocks .slides .anim_img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease; }
    #stocks .image_slide .anim_img.open,
    #stocks .slides .anim_img.open {
      opacity: 0.5; }

#stocks .slides .wrap {
  height: 84px;
  overflow: hidden; }

#stocks .slides .slide {
  width: 165px;
  float: left;
  margin: 10px 12px 0;
  cursor: pointer; }
  #stocks .slides .slide.active {
    border-bottom: 3px solid #4d392e; }
  #stocks .slides .slide:first-child {
    margin-left: 0; }
  #stocks .slides .slide:last-child {
    margin-right: 0; }
  #stocks .slides .slide img {
    width: 100%; }

#interior {
  position: relative;
  background: url("images/interier.jpg") no-repeat left -3px, #f9f1d6;
  padding-top: 30px;
  padding-bottom: 65px; }
  #interior .wrap {
    max-width: 1170px;
    margin: auto;
    padding-top: 50px; }
    #interior .wrap::after {
      content: ' ';
      display: table;
      clear: both; }

#interior header {
  position: relative;
  overflow: hidden;
  height: 85px; }
  #interior header img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%); }

.image_interior_wrap {
  position: relative;
  overflow: hidden;
  float: left;
  margin: 2%;
  box-sizing: border-box;
  width: 46%; }
  @media (min-width: 750px) {
    .image_interior_wrap {
      width: 23%;
      margin: 1%; } }
  .image_interior_wrap::after {
    content: ' ';
    display: block;
    padding-top: 60%; }
  .image_interior_wrap.big {
    width: 46%; }
    @media (min-width: 750px) {
      .image_interior_wrap.big {
        width: 48%; }
        .image_interior_wrap.big::after {
          content: ' ';
          display: block;
          padding-top: 61.6%; } }
  .image_interior_wrap .zoom {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(119, 66, 35, 0.7);
    opacity: 0;
    transform: scale(1.2);
    transition: opacity, transform 0.3s, 0.3s ease, ease; }
    .image_interior_wrap .zoom::after {
      content: ' ';
      background: url("images/sprite.png") no-repeat -389px -58px;
      display: block;
      position: absolute;
      width: 56px;
      height: 56px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .image_interior_wrap:hover .zoom {
    opacity: 1;
    transform: scale(1); }

.image_interior {
  position: absolute;
  width: 100%;
  height: 100%; }

#team {
  background: url("images/lists_flip.jpg") no-repeat left -3px, #fff;
  padding-top: 30px; }
  #team .wrap {
    max-width: 1170px;
    margin: auto; }

#team header {
  position: relative;
  overflow: hidden;
  height: 85px; }
  #team header img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%); }

#team ul {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px; }
  #team ul::after {
    content: ' ';
    display: table;
    clear: both; }

#team ul li {
  float: left;
  height: 80px;
  padding: 5px;
  box-sizing: border-box; }
  #team ul li .wrap {
    border: 1px solid #d7b56d;
    padding: 5px; }
    #team ul li .wrap::after {
      content: ' ';
      display: table;
      clear: both; }
  @media (min-width: 1px) {
    #team ul li {
      width: 50%; } }
  @media (min-width: 750px) {
    #team ul li {
      width: 33.333%; } }
  @media (min-width: 1170px) {
    #team ul li {
      width: 25%; } }
  #team ul li .avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 10px; }
  #team ul li .text {
    float: left; }
    #team ul li .text h4 {
      color: #9a9999;
      font-size: 13px;
      padding-bottom: 8px;
      padding-top: 8px; }
    #team ul li .text h5 {
      color: #774223;
      font-size: 15px;
      font-weight: 700; }

#brand {
  position: relative;
  background: #efe9e1;
  padding-top: 30px;
  padding-bottom: 100px; }

#brand header {
  position: relative;
  overflow: hidden;
  height: 85px; }
  #brand header img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%); }

#brand ul {
  padding-top: 40px; }
  #brand ul::after {
    content: ' ';
    display: table;
    clear: both; }

#brand ul li {
  text-align: center;
  width: 50%;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px; }
  @media (min-width: 750px) {
    #brand ul li {
      width: 25%; } }
  #brand ul li img {
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter 0.3s ease; }
    #brand ul li img:hover {
      filter: grayscale(0%); }

#map {
  position: relative; }

#map .contact {
  background: white;
  padding: 30px 15px 25px;
  box-sizing: border-box; }
  #map .contact::after {
    content: ' ';
    display: table;
    clear: both; }

#map .contact_elem {
  float: left;
  text-align: center;
  width: 50%;
  padding-bottom: 25px;
  font-family: 'Open Sans', serif; }
  @media (min-width: 750px) {
    #map .contact_elem {
      width: 25%; } }
  #map .contact_elem h3 {
    font-size: 20px;
    color: #774223;
    font-weight: 700;
    padding-bottom: 20px; }
  #map .contact_elem p {
    color: #482c20;
    font-size: 16px;
    line-height: 24px; }

#map .map_content {
  position: relative; }
  #map .map_content #map_block {
    width: 100%;
    height: 450px; }
  #map .map_content .triangle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38px 35px 0;
    border-color: #fff transparent transparent;
    transform: translateX(-50%); }
  #map .map_content .photo {
    position: absolute;
    top: 25%;
    left: 10%;
    display: none; }
    @media (min-width: 750px) {
      #map .map_content .photo {
        display: block; } }

#map footer {
  height: 95px;
  background: #d6b66d;
  font-family: 'Open Sans', serif;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }
  #map footer .wrap {
    max-width: 1170px;
    margin: auto; }
  #map footer .copyright {
    color: #774223;
    font-size: 15px;
    padding-top: 43px;
    float: left; }
  #map footer .mindpro {
    float: right;
    padding-top: 33px; }

#modal {
  position: fixed;
  top: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease; }
  #modal.open {
    opacity: 1; }

#modal .wrap {
  background: #fff;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 22px;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -100%);
  transition: opacity, transform 0.3s, 0.3s, ease, ease; }
  #modal .wrap.open {
    opacity: 1;
    transform: translate(-50%, -50%); }
  @media (min-width: 750px) {
    #modal .wrap {
      width: 650px;
      padding-left: 60px;
      padding-right: 60px; } }

#modal .wrap .closer {
  background: url("images/sprite.png") no-repeat -462px -91px;
  top: 14px;
  right: 14px;
  cursor: pointer;
  width: 22px;
  height: 22px;
  position: absolute; }
  @media (min-width: 750px) {
    #modal .wrap .closer {
      background: url("images/sprite.png") no-repeat -462px -65px;
      top: 0;
      right: -35px; } }

#modal .wrap h3 {
  text-align: center;
  font-size: 20px;
  color: #774223;
  border-bottom: 2px solid;
  font-weight: 700;
  padding-bottom: 23px;
  margin-bottom: 30px; }

#modal .wrap .content {
  height: 430px;
  overflow: hidden; }
  @media (min-width: 750px) {
    #modal .wrap .content {
      height: 330px; } }

#modal .wrap .image {
  width: 155px;
  height: 155px;
  margin: auto;
  margin-bottom: 25px;
  overflow: hidden; }
  @media (min-width: 750px) {
    #modal .wrap .image {
      float: left;
      margin-right: 15px;
      margin-bottom: 15px; } }

#modal .wrap p {
  color: #774223;
  font-family: 'Open Sans', serif;
  font-size: 16px;
  line-height: 20px;
  text-align: justify; }

#modal .wrap .link {
  display: block;
  color: #774223;
  font-weight: 700;
  border-top: 1px solid;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 20px; }

#modal_form {
  position: fixed;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  opacity: 0;
  transition: transform, opacity 0.3s, 0.3s ease, ease; }
  #modal_form.open {
    transform: scale(1);
    opacity: 1; }

#modal_form .wrap_modal {
  width: 360px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#modal_form form {
  background: white;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  box-sizing: border-box;
  position: relative; }
  #modal_form form::after {
    content: ' ';
    display: table;
    clear: both; }
  #modal_form form .closer {
    background: url("images/sprite.png") no-repeat -462px -65px;
    cursor: pointer;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 0;
    right: -35px;
    display: none; }
    @media (min-width: 750px) {
      #modal_form form .closer {
        display: block; } }
  #modal_form form h3 {
    font-weight: 700;
    font-size: 19px;
    color: #774223;
    border-bottom: 1px solid;
    padding-top: 25px;
    padding-bottom: 22px;
    margin-bottom: 13px;
    text-align: center;
    text-transform: uppercase; }
  #modal_form form input {
    float: left;
    margin-top: 13px;
    margin-bottom: 13px;
    width: 100%;
    height: 40px;
    border: 2px solid #d9d9d9;
    padding-left: 9px;
    box-sizing: border-box;
    font-size: 15px;
    color: #999; }
    #modal_form form input:focus {
      outline: none; }
  #modal_form form button {
    margin-top: 13px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid;
    color: #774223;
    cursor: pointer; }
    @media (min-width: 1px) {
      #modal_form form button.send {
        float: left;
        width: 48%;
        font-weight: 700;
        font-size: 18px;
        background: transparent; } }
    @media (min-width: 750px) {
      #modal_form form button.send {
        width: 230px;
        float: none;
        display: block;
        margin: auto; } }
    #modal_form form button.close_modal_form {
      float: right;
      width: 48%;
      font-weight: 700;
      font-size: 18px;
      background: transparent;
      display: block; }
      @media (min-width: 750px) {
        #modal_form form button.close_modal_form {
          display: none; } }
